<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smart_air">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.SmartAir">

        <activity
            android:name=".LoginActivityView"
            android:theme="@style/Theme.SmartAir.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".ChildLoginActivityView"
            android:exported="true" />
        <activity
            android:name=".ChildSignUpActivity"
            android:exported="true" />
        <activity
            android:name=".ParentDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".ParentSignOutActivity"
            android:exported="false" />
        <activity
            android:name=".AddParentActivity"
            android:exported="false" />
        <activity
            android:name=".ProviderDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ProviderSignOutActivity"
            android:exported="false" />
        <activity
            android:name=".ChildDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".ChildScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".ChildSignOutActivity"
            android:exported="false" />
        <activity
            android:name=".DailyCheckInActivity"
            android:exported="false" />
        <activity
            android:name=".InputPEFActivity"
            android:exported="false" />
        <activity
            android:name=".StreakActivity"
            android:exported="false" />
        <activity
            android:name=".TakeMedicineActivity"
            android:exported="true" />
        <activity
            android:name=".TriageActivity"
            android:exported="false" />
        <activity
            android:name=".TechniqueHelperActivity"
            android:exported="true" />
        <activity
            android:name=".AchievementActivity"
            android:exported="true" />
        <activity
            android:name=".ManageChildActivity"
            android:exported="true" />
        <activity
            android:name=".TakeMedicineActivityPost"
            android:exported="true" />
        <activity
            android:name=".MedlogActivity"
            android:exported="false" />
        <activity
            android:name=".ConfigureRewardsActivity"
            android:exported="true" />
        <activity
            android:name=".ParentDailyCheckIn"
            android:exported="true" />
        <activity
            android:name=".ConfigurePEFSettingsActivity"
            android:exported="true" />
        <activity
            android:name=".ViewChildSummaryActivity"
            android:exported="true" />
        <activity
            android:name=".ControllerAdherenceSummaryActivity"
            android:exported="true" />
        <activity
            android:name=".PEFSummaryActivity"
            android:exported="true" />
        <activity
            android:name=".RescueLogsSummaryActivity"
            android:exported="true" />
        <activity
            android:name=".SymptomSummaryActivity"
            android:exported="true" />
        <activity
            android:name=".TriageIncidentSummaryActivity"
            android:exported="true" />
        <activity
            android:name=".TriggerSummaryActivity"
            android:exported="true" />
        <activity
            android:name=".HistoryBrowserActivity"
            android:exported="true" />
        <activity
            android:name=".ShareToProviderActivity"
            android:exported="true" />
        <activity
            android:name=".ExportChildHistoryActivity"
            android:exported="true" />
        <activity
            android:name=".ParentAlertsActivity"
            android:exported="true" />
        <activity
            android:name=".ProviderNotificationActivity"
            android:exported="true" />
        <activity
            android:name=".ProviderViewChildSummaryActivity"
            android:exported="true" />


        <activity
            android:name=".RefillActivity"
            android:exported="true" />
    </application>

</manifest>